[2015-05-03 16:51] miketheanimal opened #21 "Newline, Return in expressions (not strings)"
Would be nice if \r and \n were allowed as whitespace, tweak at line 132 I think.

Great package!
Mike

[2015-05-19 12:06] EricSmekens commented on #21
+1, any escape character will be removed. I don't know this is what you mean as well.
'AA\\AA' will have value/raw as 'AAAA'

[2015-06-04 07:10] miketheanimal commented on #21
Sounds good to me, thanks

[2015-06-04 07:10] #21 closed, assigned to nobody

[2015-06-22 06:39] niobos opened #25 "feature request: Support Unicode identifiers"
According to the [ECMA specification](http://www.ecma-international.org/ecma-262/5.1/#sec-7.6), Identifiers can also contain Unicode characters

[2015-06-26 12:38] alexwarren opened #26 "Unary operators cannot look like identifiers"
I need "not" as a unary operator, but jsep's `gobbleToken` interprets this as an identifier, before it has a chance to interpret it as a unary operator.

This is fixed in my fork here https://github.com/alexwarren/jsep which also includes @canac's fix from https://github.com/soney/jsep/pull/22.

[2015-08-12 11:23] alex94cp opened #28 "Set parser to vanilla state"
Hi! I'd want to make use of jsep as a simple expression parser for [one of my libraries](https://github.com/alex94puchades/jsonapify). However, jsep by default includes support for all javascript operators (like `===` ) which I don't plan to support. Could you please add a quick way to get a vanilla parser from jsep? (something like a `reset` method)

[2015-08-24 06:59] Petah commented on #28
+1

[2015-08-27 16:22] egucciar opened #29 "Unable to download from BOWER"
Getting this error:

ETIMEDOUT Request to https://bower.herokuapp.com/packages/jsep failed: ETIMEDOUT

why? I was able to install it a few weeks ago. Let me know if this can be resolved ASAP

[2015-08-27 17:41] egucciar commented on #29
working now

[2015-09-08 23:42] matthewmueller opened #30 "Allow postfix unary operators"
It would be cool if unary operations could be at the end, not just the beginning.

[2015-12-08 04:55] lewisdawson opened #32 "Invalid expression parses successfully and incorrectly"
The following invalid expression parses successfully even though it's not valid syntax:

[code]

As seen in the image below, it returns the incorrect result:

![image](https://cloud.githubusercontent.com/assets/5010504/11648044/69735278-9d24-11e5-9507-ecd46da3714e.png)

[2015-12-08 09:52] luanpotter commented on #32
You don't even need to go that far; a simple call with no matching parenthesis yields no errors, like `jsep('sin(1');` returning:

[code]

[2015-12-09 00:16] lewisdawson commented on #32
@luanpotter True. That example results in the correct interpretation of the statement, it just doesn't fail due to the syntax error. My example above actually returns the incorrect interpretation since it's ambiguous. The parser interpreted the statement differently than what was intended. It was intended to be:

[code]

But it's interpreting it as:

[code]

Regardless, it's not ideal. :)

[2015-12-21 23:00] oliverjanik opened #33 "The website is down"
Getting ERR_NAME_NOT_RESOLVED in Chrome

[2015-12-30 10:48] janryWang opened #34 "Why not support regular expressions and new expression?"

[2016-01-13 01:42] codecvlt commented on #32
Yup, also wanting to use this library, but the fact that it doesn't catch the missing ) in `x(` is a concern.

( as the first char works though. it just fails if there are any letters preceding it. numbers seem to work though.

[2016-02-02 00:14] #33 closed, assigned to nobody

[2016-02-12 23:12] jcburke14 opened #36 "Backslashes are not handled properly"
A string literal containing "\" should be parsed to "\", but instead it gets parsed to "". This is true for any even number of backslashes you throw in there. The problem is in gobbleStringLiteral, in the switch statement: there should be a default case that does 'str += ch', but there isn't, so backslashes that aren't part of a common escape code get dropped on the floor.

In fact, a backslash fo

[2016-02-17 14:47] ggetz opened #37 "JSEP does not throw when binary operators are used as unary"
Removing the unary operator "+" using `jsep.removeUnaryOp("+")`, but not removing "+" as a binary operator causes unary expressions such as `+1` to be interpreted as binary expressions.

[2016-03-20 05:11] karenpb opened #38 "Incorrect precedence with 1^2^3-4^5"
Hi,
Thank you for providing this impressive parser to help me handle most of the complex equation parsing.
I found an issue with the result when I parsed the equation **1^2^3-4^5**. For this equation I was hoping to get a binary in the below structure (equivalent to **(1^2^3)-(4^5)**):
![image](https://cloud.githubusercontent.com/assets/6461338/13902924/0e4c989a-ee38-11e5-8f17-fbfc58863761.png)

B

[2016-03-21 17:46] luanpotter commented on #38
`jsep` is primarily based on javascript, in which the '^' is a bitwise xor operator and actually has less precedence than the '-' operator. If you are using this for math, it works great as well, but you will have to change change the precedence. I have this code that disallows all js only operators and also re-adds the bitwise xor as a pow operator:

[code]

[2016-03-21 20:10] karenpb commented on #38
Thank you for the response. This definitely solves my problem!

[2016-03-21 20:15] egucciar opened #39 "Support object literals"
An expression with object-literal is not supported. E.g.

{ object: 'Literal' }

How come?

[2016-03-31 21:57] karenpb opened #40 "How to add "-" as unary operator with lower precedence than "^""
Hi,

I am running into the issue that when interpret the expression "2^-1^2^3", the returned expression tree takes precedence as ((2^(-1))^2)^3. But the expectation is 2^(-**((1^2)^3)**). I realize that in this case the unary operator "-" takes higher precedence than "^".

Is there any way that I can assign "-" with precedence lower than "^"?

I have tried to call jsep.addUnaryOp('-'); but it does

[2016-05-31 07:02] sneakyfildy opened #42 "foo(bar is not marked invalid"
Sorry for maybe stupid issue.
Why does "foo(bar" expression not marked invalid for unclosed bracket?

[2016-05-31 08:39] sneakyfildy commented on #42
test(1'a')
and this one too...

[2016-05-31 08:52] sneakyfildy commented on #32
seems like not maintained anymore

[2016-06-10 19:42] joshim5 opened #43 "Cannot add NOT as a unary operator"
“NOT” cannot be added as a unary operator.

[code]

As a control, note this works for other operators:

[code]

[2016-06-10 23:28] joshim5 opened #44 "Multicharacter operations failure"
“NOT” cannot be added as a unary operator.

[code]

This works with other operators:

[code]

[2016-06-20 14:06] eliekhoury opened #45 "ThisExpression as a property"
Shouldn't `this` in `test.this` be considered as an Identifier instead of a ThisExpression?

[2016-08-03 07:05] #29 closed, assigned to nobody

[2016-08-03 08:42] EricSmekens commented on #36
May be fixed in #24. Or in PR #46
@jcburke14, can you confirm this with the current master?
(As currently this fix is not released yet in a official version.)

[2016-08-05 21:05] #25 closed, assigned to nobody

[2016-08-05 21:22] EricSmekens commented on #42
First case is a issue. Related to #32
Second case is something that is COMPOUND-functionality.

I will try to make some time to resolve the first issue.

[2016-08-05 21:53] #42 closed, assigned to nobody

[2016-08-05 21:53] EricSmekens commented on #32
Fixed this in current master.
I will improve some other things, test more extensively and then discuss with soney about a new release.

[2016-08-05 21:53] #32 closed, assigned to nobody

[2016-08-06 14:17] #36 closed, assigned to nobody

[2016-08-08 08:35] EricSmekens commented on #44
Closed as duplicate of #43.

[2016-08-08 08:35] #44 closed, assigned to nobody

[2016-08-08 08:38] EricSmekens commented on #34
I think for this use-case, esprima might be a better solution if you want to do this.
JSEP is kept simple, and we should stay with that I think.

[2016-08-08 09:45] EricSmekens commented on #28
With jsep.removeBinaryOp, you could remove these operators.

Is that what you want?
If no, could you give some example/results?

[2016-08-08 09:52] EricSmekens opened #47 "Preparing 0.3.1 release."
Need to define a tasklist to prepare 0.3.1 release.
- [x] Add tests for new functionality and specific fixed use-cases.
- [x] Update package.json to build jsep. (Deprecated and unsafe versions are being used (build-tools).)

[2016-08-09 06:22] EricSmekens opened #48 "Backslash behaviour in strings should match esprima's output."
Currently it is not matchting the same behaviour as esprima.
Postponing it a little bit. Esprima displays another value when using backslashes.

[2016-08-09 22:34] LeaVerou opened #49 "Arrow functions?"
Awesome project, I'm looking forward to using this in a library I'm working on! So glad I don't need to bite the bullet and include the 30KB of Acorn!

Are there any plans to support arrow functions, or are they out of scope? I would argue something like `array.filter(a => a > 2)` is still a simple expression, but YMMV. :)

In any case, fantastic work and I'm so glad this seems to still be maintai

[2016-08-10 07:15] EricSmekens commented on #49
Good suggestion. I will be working on a 0.3.1 release for coming week. But after that I will ask @soney if this in scope or not.

[2016-10-03 12:11] SukantGujar opened #50 "Unary expression with no arg should be invalid."
Currently, the parser considers this perfectly valid - `x+++`, `x+++----` and so on. The problem seems to be that in `gobbleToken`, the argument object is not being checked for presence.
Here's an example...
For `x+++`, the parsed structure is -
- type: 'BinaryExpression'
- operator: '+'
- left:
  - type: 'Identifier'
  - name: 'x'
- right:
  - type: 'UnaryExpression'
  - operator: '+'
  - argumen

[2016-10-03 12:18] SukantGujar commented on #28
This would be great. So instead of having a full set of JS operators active by default, there could be a builder/use pattern to prep up the jsep parser from. Something like -
`jsep.use(binaryOps(['||', '&&', ...]))`

[2016-10-30 16:34] morsh opened #51 "Assing typescript to project"
Hi,
There is no typescript definitions file associated with the repo.

Are there any plans to add one?

Thanks.

[2016-10-31 13:48] morsh commented on #51
Suggestion for partial definitions file:

[code]

[2016-10-31 15:28] EricSmekens commented on #51
Cool, I cannot promise anything, but when I have time I will look into it.
Till then, anyone can work on it and submit a PR.

[2016-11-08 12:35] hypermurea opened #53 "publish version 0.3.1 to npm"

[2016-12-22 07:53] MShidurkar opened #55 "function parameters invalid"
Parsing the function with parameters,

functionName(args1 ,args2, ) is considered as valid but actually it should be invalid.
3rd argument is invalid, It should not be blank.

[2017-01-06 20:54] EricSmekens commented on #53
@soney Is the only person who could do this.
If he can make a response here, I would commit to so more time to fix some bugs.

Wouldn't like to fork this project only to release on npm.

[2017-03-01 23:36] ghost opened #56 "[1,2,3][4] returns Compound instead of MemberExpression"
When using `[1,2,3]` the parser responds with an ArrayExpression. When using `Identifier[4]` the parser reacts with a MemberExpression. When using `[1,2,3][4]` the parser assumes a Compound with two ArrayExpressions in the Body. Shouldn't it assume a MemberExpression instead? This becomes problematic when having `[1,2,3][4][5]`.

[2017-04-21 06:51] LeaVerou opened #57 "Line breaks make jsep throw"
Testcase: Just try parsing `"\n1+1"`.
It reproduces on the website too.

[2017-05-19 16:54] LeaVerou commented on #43
Duplicate of #26

[2017-08-30 21:00] #57 closed, assigned to nobody

[2017-08-30 21:01] EricSmekens commented on #53
@LeaVerou This is something we can pick up soon. (I think we should make a 0.3.2 version with your fix I just merged, and then get it published?).

[2017-08-30 21:01] #51 closed, assigned to nobody

[2017-08-30 21:02] #47 closed, assigned to nobody

[2017-08-30 21:02] #48 closed, assigned to EricSmekens

[2017-08-31 17:26] LeaVerou commented on #53
@EricSmekens Fine by me. Is there anything else for the changelog besides that fix?

[2017-08-31 17:36] EricSmekens commented on #53
No, previous release I put everything under releases.
But it might also be a good idea to keep track of a CHANGELOG.MD.

Will create one in the coming days, but if you beat me to it, please go ahead :)

[2017-09-02 12:12] EricSmekens opened #62 "Automated build/test"
I've set up a very simple automated build/test on a fork of jsep.
I think it was worth my time, and will improve the project.

https://travis-ci.org/EricSmekens/jsep
https://circleci.com/gh/EricSmekens/jsep

Going to make a PR soon, so we can see it also posts statuses back.

(You can only do this on your own projects as maintainer, not collabs, so when we decide, soney has to activate it.).

[2017-09-05 00:32] LeaVerou commented on #62
Thanks for doing this @EricSmekens, this is great! In my experience from my own projects it can help contributions and quality control. The caveat is that we need to be careful not to get carried away and add a ton of pointless checks that fail on perfectly fine PRs and discourage everyone (not saying it's the case here, just my general takeaway from other projects).

[2017-09-06 18:26] #53 closed, assigned to EricSmekens

[2017-09-06 18:27] EricSmekens commented on #53
0.3.2 published to NPM.

[2017-09-18 21:42] LeaVerou commented on #56
Yes, this appears to be a bug.

[2017-09-18 21:47] LeaVerou commented on #34
Agreed with Eric. The whole point of JSEP is that it parses **expressions**, not the entirety of JS. Now, for certain features it's debatable whether they are expressions or not, but I think regexps and constructors are currently out of scope, sorry.

[2017-09-18 21:47] #34 closed, assigned to nobody

[2017-09-18 21:52] LeaVerou commented on #37
I think the actual issue here is that binary operators can be parsed as unary ones. E.g. `jsep("*1")` returns:

[code]

Is this a bug or a feature? I'm leaning towards the latter, since you can always detect and reject such cases if this behavior is not desirable. What do you think @EricSmekens?

[2017-09-18 21:54] LeaVerou commented on #43
Closing as duplicate.

[2017-09-18 21:54] #43 closed, assigned to nobody

[2017-09-18 21:55] #38 closed, assigned to nobody

[2017-09-18 21:59] LeaVerou commented on #39
Probably because JSEP parses a subset of JS (remember it stands for JavaScript *Expression* Parser). Now, what constitutes expressions is debatable. I think we can all agree that `a + b` is an expression and `function(a) { return a + 1 }` is not. However, there is a lot in between that could be argued either way, and I think object literals fall in this gray area.

I, for one, do see value in supp

[2017-09-18 22:04] LeaVerou commented on #45
@EricSmekens Actually, what's the point of `ThisExpression` altogether? `this` can be parsed just fine as an identifier. It seems a bit arbitrary to parse `this` specially when we don't support other related parts of JS, like e.g. the `new` operator.

[2017-09-18 22:07] LeaVerou commented on #55
Why should it be invalid? That works just fine in actual JS, try it in your console :)

[code]

[2017-09-18 22:07] #55 closed, assigned to nobody

[2017-09-18 22:14] LeaVerou opened #67 "Expose operators and precedences"
There are many use cases where you want to inspect which operators are currently registered and/or look up their precedences.

E.g. Assume you want to add `and` as a synonym for `&&`. Currently one has to look at the code to find the precedence of `&&` and use the same. And of course, that means it cannot be done dynamically, on runtime.
Or you may just need to look up whether an operator is regis

[2017-09-19 18:50] EricSmekens commented on #45
I agree, we should have a look into this.

[2017-09-19 19:29] #26 closed, assigned to nobody

[2017-09-19 19:33] LeaVerou commented on #62
And while we're at it, we should `.gitignore` everything in `build/`.
They bloat every commit with duplication of any changes, and the minified files cause conflicts very easily.
We could use [netlify.com](https://netlify.com) instead of Github Pages, which can run build tools on the server.

[2017-09-20 10:27] dinigo commented on #51
Hi, just added methods to the definition
[code]

[2017-09-20 19:25] LeaVerou opened #68 "Identifiers that start with an alphanumeric operator are not parsed correctly"
Turns out this was not introduced after #27 was merged, just exposed. It also happens with binary operators however, it's just harder to trigger, so in a sense it became a more serious bug after #27 was merged.

Testcase:
[code]

[2017-09-20 19:38] LeaVerou commented on #45
I guess we need to start by asking @soney how he feels about us removing it, since he added it pretty early on.

[2017-09-30 03:32] marcosguti opened #70 "Add repo as lib in package.json"
I need help about how to add this repo as lib in package.json, i'm not clear in the path to add this lib
example:

  "devDependencies": {
    "jsep":"git+https://github.com/soney/jsep.git"
}
this show error

[2017-10-02 20:55] EricSmekens commented on #70
@marcosguti Please read the following docs if you really want it from github.
https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

Otherwise, juse use:

`"devDependencies": {
    "jsep":"^0.3.2"
}`

[2017-10-02 20:58] #70 closed, assigned to nobody

[2017-10-02 21:37] EricSmekens commented on #62
#71

[2017-10-03 14:22] #62 closed, assigned to LeaVerou, soney, EricSmekens

[2017-10-19 06:37] gms1 commented on #45
pros for keeping ThisExpression:

1) evaluating an identifier node in the AST can be done by returning "context[node.name]". which would not work if 'this' is threated as identifier ( except you want to force AST consumers to do silly things like e.g. "context['this'] = context",... )

2) it would be nice to keep jsep's AST output similar to esprima's

[2017-11-10 13:12] hanprat opened #73 "A reverse of parse feature, nodes to expression"
Is there any way instead of parse expression string to nodes, it does the reverse. Create an expression string from nodes.
I use jsep to parse the expression in my rule engine editor. But, to save the edited expression I need to convert the new nodes to an expression.
In Symfony Expression Language there are 2 ways, parse and "dump" (nodes to expression).

[2017-11-10 13:17] doublemarked commented on #73
@hanprat here's a method I built for debugging, which should be close to what you're seeking:

BTW: This was based on some other code I found floating around here or in the tests or something. But I think I expanded it a bit.

[code]

[2017-11-10 13:44] hanprat commented on #73
Nice.. I'll implement your suggestion.
I've seen too something like this in jsep, but which version I have to check it later.

[2017-11-10 13:44] #73 closed, assigned to nobody

[2017-11-12 06:12] pgwizardofoz opened #74 "Support unitary operator with multiple letters"
jsep("x && !y") generates the correct AST:

[code]
If I add the new operators AND and NOT, the unitary operator is not correctly parsed

[code]

result in

[code]

Is there a way to support this?

[2017-11-13 04:47] hanprat commented on #73
I have modified your code. Coz, `["hotel", "california"]` become `[hotel, california]`, etc. But, thanks for the insight.

[2017-11-13 08:40] doublemarked commented on #73
@hanprat ah nice catch, tyvm! I had only used this for debugging :) But now I've updated the earlier comment to include better type management of Literals.

[2017-11-15 02:08] heitorfm opened #75 "Add jsep to cdnjs"
It would be very cool if you guys add jsep to cdnjs  services.

regards
Heitor

[2017-11-15 23:37] LeaVerou commented on #75
It's not about asking, it's that someone needs to send a pull request. They are pretty nice to deal with and merge most pull requests whose authors are responsive enough to make changes etc. Perhaps you want to help by adding it? :)
You can read their guide for that here: https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md

[2017-12-06 04:46] kmsquire opened #76 "Publish new version to npmjs?"
I've found jeep really useful for a project I'm working on--thanks for the package!

For this project, I haven't needed to handle `CallExpressions`, but I did as of today.  However, I'm using the package from Typescript, and the typings that are included in the 0.3.2 release don't include typings for `ICallExpression`.  It is on master, so I can simply install that, but I'm wondering if a release

[2017-12-14 17:54] davidrsacks commented on #76
How can we move this forward? For various reasons, I cannot refer to master's head and must go through NPM. It would be great if I can use the proper typings instead of needing to copy the declarations on my side.

[2017-12-14 21:54] EricSmekens commented on #76
I will make some hours for this, this weekend. Expect a update on NPM in a few days.

[2017-12-16 17:02] EricSmekens commented on #76
https://www.npmjs.com/package/jsep

0.3.3 is released.

[2017-12-16 17:02] #76 closed, assigned to nobody

[2017-12-20 20:25] kmsquire commented on #76
Thanks!

[2018-02-18 18:10] AllanCodes opened #80 "Starting an expression with parenthesis gives an unclosed error, how to fix?"
(point_granularity > 2 and eq_site_limit == 0) and (point_latitude < 29)

This expression gives an error because the beginning of the expression is a parenthesis, is there a workaround for this, is this intended? Any advice to get it to parse the first expression in this line as a compound like it usually would?

[2018-02-20 08:26] dimaninc opened #81 "Ternary shorthands parsing"
Are you planning to add support for ternary shorthands parsing?
I mean expressions like "a = b ? c : d"
Thanks!

[2018-02-20 22:09] EricSmekens commented on #81
It does already, but it is the assign that is not supported.

'b ? c : d' is correct.

[2018-02-20 22:09] #81 closed, assigned to nobody

[2018-02-20 22:13] EricSmekens commented on #80
Replacing the and with && did solve the issue.

@AllanCodes
Did you add binary-op like in the tests?
https://github.com/soney/jsep/blob/0ab28b13335884b867a4273fd59ed16108b387de/test/tests.js#L118

[2018-02-20 22:17] AllanCodes commented on #80
Thanks Eric!

[2018-02-20 22:17] #80 closed, assigned to nobody

[2018-02-22 07:23] dimaninc commented on #81
@EricSmekens are you planning to implement assign?

[2018-02-22 07:39] EricSmekens commented on #81
Probably not.
Soney meant this library as a lightweight parser of Javascript expressions, and no operations.
Have a look into Esprima if you look for this functionality.

[2018-03-28 17:31] #68 closed, assigned to nobody

[2018-06-22 23:58] LeaVerou opened #92 "(1, 1) produces error: Unclosed ( at character 6"
Given that `1, 1` by itself is parsed as a `Compound`, it seems a little surprising that wrapping it with parentheses produces an error, what do you think @EricSmekens?

[2018-07-01 13:57] duncanwerner opened #93 "Missing arguments in function call should throw?"
JSEP will elide missing arguments in a function call. For example, all of the following are treated as equivalent:
[code]
So the missing arguments disappear and the position of the remaining arguments is (potentially) incorrect. For JSEP the appropriate behavior is probably to throw. It's an edge case, so may not be that important.

Now in my particular case I want to support missing arguments, bu

[2018-07-02 06:46] LeaVerou commented on #93
I wonder if it would make more sense to treat those as `undefined`, i.e. `check(,1,2)` would produce the same tree as `check(undefined, 1, 2)`.
What do you think @EricSmekens?

[2018-07-02 07:00] EricSmekens commented on #93
I think it should throw, with an 'Unexpected token at position: x ' or something similar.
It is invalid javascript, and as JSEP is an javascript expression parser, we should follow that behaviour.
(If we have a very good reason/case not to, let us all know).

So, I think a merge request that throws with the position of the unexpected token would be appreciated by the community! :+1:

[2018-07-03 00:04] #93 closed, assigned to nobody

[2018-10-24 13:45] SirNickolas opened #96 "Bugs in the grammar"
`!`

[code]

`*x`

[code]

`||x`

[code]

`?a:b`

[code]

`.`

[code]

`"a"[0]` — Perfectly valid JS.

[code]

`[1](2)` — This one is actually valid code as well (though it throws at runtime), but the library parses it incorrectly.

[code]

`"a".length`

`Variable names cannot start with a number (.l) at character 4` — Wait. Where do you see a number?.. Oh yes, `.` is `NaN`. Gorgeous.

`()`

[code

[2018-12-16 00:02] anatoli26 commented on #36
Current implementation strips backslashes for unknown combinations, i.e. "a\a" becomes "aa". IMO, the correct treatment would be:

[code]

It would handle `\\ => \` and `\' => '` (or double-quote, depending on the opening quote), and unrecognized combinations would be left as-is: `a\a => a\a`.

_Another related issue_: the "raw" value should be saved without backslash treatment.

[2019-01-26 15:45] hsluoyz opened #97 "How to call async functions in an expression?"
Thanks for this good project! In my scenario, I need to put async functions into expression. But I don't know how to do this. It seems that jsep doesn't support sync functions?

The following code generates async functions which will be injected into the expression:

https://github.com/casbin/node-casbin/blob/e40a13ffd8fbb2d924f36541beb24b3a02593261/src/util/builtinOperators.ts#L138-L153

The foll

[2019-01-27 19:52] LeaVerou commented on #97
Hi @hsluoyz,

In general, linking to dozens of lines of code from a large project does not help a bug report or question. Since we are unfamiliar with your code, this is essentially equivalent to not providing any. What would be helpful is a *reduced testcase*, a self-contained piece of code of 10 lines or fewer that we can examine and work on.

Going off the text in your bug report, since I'm not

[2019-03-25 07:23] mflerackers opened #98 "MemberExpression with . parses to Identifier instead of LIteral"
anObject.aField parses to

{"type":"MemberExpression","computed":false,"object":{"type":"Identifier","name":"anObject"},"property":{"type":"Identifier","name":"aField"}}

which would be anObject[aField]

Though anObject.aField should be the same as anObject["aField"]

{"type":"MemberExpression","computed":true,"object":{"type":"Identifier","name":"anObject"},"property":{"type":"Literal","value":"a

[2019-03-27 16:09] dimaninc opened #99 ""variable in [array]" parsing"
Are you planning to add support of "in" operator to support expressions like `variable in [array]`?

[2019-03-27 16:25] LeaVerou commented on #99
You can add custom operators very easily! You can just do `jsep.addBinaryOp("in", 11)`

[2019-03-27 16:26] dimaninc commented on #99
@LeaVerou yes, but then i get an error `Unclosed [ at character 19  Full expression: user1.drive in ['r','4']`

[2019-03-27 17:38] LeaVerou commented on #99
Hi there,

I just tried it on [the official website](https://jsep.from.so/) and it seems to work fine:
![image](https://user-images.githubusercontent.com/175836/55099102-d2fcaf00-50c7-11e9-86f3-9a634fb7caa2.png)

Perhaps there's another issue somewhere else?

[2019-03-28 07:02] dimaninc commented on #99
thanks, my bad

[2019-03-28 07:02] #99 closed, assigned to nobody

[2019-08-10 12:54] craigphicks commented on #98
In the first case property `computed` has value `false`, while in the second case it has value `true`.
That difference corresponds to the `.` access versus the `[]` access.  It is true that in the case of an object the result is the same because the r.h.s is a string.

But what if it weren't a string, if it were something that needed to be computed?  (Hence the property `computed`).  Or what if th

[2019-08-11 07:52] craigphicks opened #100 "`BinaryExpression` vs `LogicalExpression` ... same difference?"
In addition to `BinaryExpression` there is also `LogicalExpression`.  But as far as I can tell their usage us identical and can share the same case statement.  Am I missing something?

[2019-08-13 03:04] craigphicks opened #101 "Predefined literals are problematic from a Jsep using developer POV"
This post concerns the predefined literal reserved words.  That is expressions with `type==="Literal"` and for which the `value` is set by the parser directly from the hard coded table
[code]

Problems wit the current setup:

1. There is no interface to discover or alter these reserved keywords.
2.  The content is arbitrary - e.g. `null` is a member while `undefined` isn't.
3.  It's very opinionat

[2019-08-20 22:18] craigphicks commented on #101
It was easy enough to recast the unexpected "Literals" as "Identifiers" at the top level of the interpreter function.

[2019-08-20 22:18] #101 closed, assigned to nobody

[2019-10-02 14:50] #97 closed, assigned to nobody

[2020-02-28 16:58] eikebartels opened #111 "How to execute the parsed expression?"

[2020-03-01 09:26] eight04 commented on #111
Personally, I use [expression-eval](https://www.npmjs.com/package/expression-eval). If you need more customizations, try [espression](https://github.com/ianchi/ESpression).

[2020-03-03 13:26] zdila commented on #100
I agree. Logical expressions can be of various arity. Examples: binary: `&&`, `||`; unary: `!`
I propose to merge `LogicalExpression` to `BinaryExpression`.

In my usecase I have also defined additional binary logical expressions as aliases to `&&` and `||`:

[code]

[2020-04-15 20:29] josh-hemphill commented on #39
Any news on this since 2017? Would pull requests for this be welcome? If the maintainers are good with it, I'd love to take a crack at it since this would be so useful.

[2020-04-15 20:30] EricSmekens commented on #39
Would be definitely welcome!

[2020-07-08 05:55] LeaVerou commented on #93
Btw I just realized this PR made jsep throw on trailing commas, which are perfectly valid JS.

E.g. jsep("foo(1,)") throws, but that's valid JS.

[2020-07-08 05:59] LeaVerou opened #113 "Website is broken"
[jsep.from.so](http://jsep.from.so) is not resolving. Should we just enable Github Pages instead, or is the breakage temporary?

[2020-07-10 07:49] EricSmekens commented on #113
Github pages would be the way to go.
https://from.so/ is still reachable, so I think the original creator just removed the linking or something similiar.

[2020-07-10 18:19] LeaVerou commented on #113
I don't have admin access, do you?

[2020-07-10 18:19] LeaVerou commented on #113
cc @soney

[2020-07-12 09:34] EricSmekens commented on #113
Neither do I.

[2020-08-18 09:53] xiaoxiangguo commented on #113
do you have plan to repair the Website ? it cant be visited 🥺 . jsep.from.so ，its very helpful

[2020-08-20 16:06] LeaVerou commented on #113
I'm afraid only @soney can do that, and he has not responded so far. I just emailed him, in case that works!

[2020-08-21 15:19] EricSmekens commented on #113
@soney did transfer the repo to me.
So I think it would be a good idea to create a 'Github pages'-page for this.

[2020-08-21 15:28] EricSmekens commented on #113
http://ericsmekens.github.io/jsep/

I will try to update and correct the links later.

[2020-08-23 10:09] #113 closed, assigned to nobody

[2020-08-27 07:21] xiaoxiangguo commented on #113
thank you very much, it works! 😊

[2020-10-05 18:32] EricSmekens opened #118 "Hacktoberfest placeholder"
This project is labeled as #hacktoberfest

[2020-10-07 09:32] #118 closed, assigned to nobody

[2020-12-08 16:26] arashsaffari opened #121 "Comment handling"
Hi
Is there a way to ignore inline comments?
e.g .:
5 + 5 // This is a comment and 10 + 8 should not be parsed
5 + 5 # This is a comment too

[2021-01-19 01:29] i7soft opened #124 "support “new, delete, in, instanceof” keywords"
i add "in,instanceof" to binary_ops object,like:
[code]

but how to support "new" and "delete" keywords？
like: new Date().valueOf(), first step should call "new Date",then call "valueOf"
[code]
like:delete a.b
[code]

[2021-01-19 08:21] LeaVerou commented on #124
You can add them as unary ops.

[2021-03-07 17:15] ccollie opened #125 "Test looks wrong."
See:
https://github.com/EricSmekens/jsep/blob/79defb44cd2212f93a004dd6e7524c10d4d1fcf4/test/tests.js#L11

[2021-03-28 19:10] LeaVerou opened #130 "Refactor to use ESM"
@EricSmekens would you be opposed to a refactor to use ES modules? I would add Rollup to output build artifacts in various formats (ESM, CJS, the ol' global etc).

I can do the work, but I want to make sure this is desirable.

[2021-03-31 03:22] LeaVerou commented on #130
@EricSmekens ping?

[2021-03-31 06:00] EricSmekens commented on #130
Yes, I'm fine with that!

[2021-03-31 23:52] LeaVerou opened #131 "Remove micro-optimizations for better minfiication"
Currently the code has a number of optimizations to minify better, which sometimes get in the way of readability, e.g. local single letter variables for `true`, overly long variable declarations with dozens of variables instead of separate ones and things like that.

These may have made sense in 2012 when jsep was first written, but in 2021, I think saving a few bytes at the expense of readability

[2021-04-01 20:26] EricSmekens commented on #131
I completely agree. I think there are more optimizations possible when the code is more simple, so I fully agree on that fact.

[2021-04-03 00:52] ken-yxy opened #133 "the parentheses on the start of expression would conbine with last line's function call"
the parentheses on the start of expression would conbine with last line's function call.
for an example:
`print(1)`
`(2 > 3) ? print(4) : print(5)`
the above 2 lines will be conbined and parsed incorrectly as:
`print(1)(2 > 3) ? print(4) : print(5)`

[2021-04-03 07:44] LeaVerou commented on #133
That is not incorrect parsing, that is exactly how any JS parser would parse this. You can have any amount of whitespace (yes, even line breaks) between a function and the opening paren of the function call. That's exactly why it's important to use semicolons in JS even though they are not formally required.

Also, jsep is really meant for parsing single expressions, not series of multiple stateme

[2021-04-03 07:44] #133 closed, assigned to nobody

[2021-04-03 07:50] LeaVerou commented on #100
That seems reasonable to me. What do you think @EricSmekens?

[2021-04-03 11:43] EricSmekens commented on #100
I agree, makes it more clear and easier to explain I think.

[2021-04-03 19:35] LeaVerou commented on #100
Especially since operators are all under `binary_ops`, so there's no way to add a new logical operator, it's all hardcoded:

[code]

[2021-04-03 20:08] LeaVerou opened #134 "Source and Github Pages page"
@EricSmekens
I only just discovered that the actual Github Pages page is in a different branch now that I went to update it.
I have questions:

- Why do we run Docco on `master` then? Isn't that only needed for the website really?
- How does `gh-pages` get an updated version of `jsep.min.js`? Is it a manual process on every release?

[2021-04-03 23:49] #100 closed, assigned to LeaVerou

[2021-04-03 23:50] #125 closed, assigned to nobody

[2021-04-03 23:50] LeaVerou commented on #125
Oops, thanks, fixed. Thankfully, it didn't appear to affect any actual tests.

[2021-04-04 01:27] LeaVerou opened #136 "Handling strings as numbers vs using regexp"
In jsep, I've seen this pattern a lot:

[code]

Is this done for performance?
If not, it would be far easier to just do e.g. `/^[A-Z0-9]$/i.test(str)` instead of `(ch >= 65 && ch <= 90) || (ch >= 97 && ch <= 122) || (ch >= 48 && ch <= 57)`, but I imagine there is a reason it wasn't done this way?
We basically convert the string to a number before calling any of these functions, it's not like we ev

[2021-04-04 02:10] LeaVerou commented on #136
Indeed it must be performance: I just wrote a [quick benchmark](https://codepen.io/leaverou/pen/vYgmvqo?editors=0011) and the regex version seems to be about 70% slower in every browser. OTOH we are talking about a roughly 15ms total difference in 1,300,000 comparisons, so still not sure it's worth it, but I can see the point now.

[2021-04-04 06:36] LeaVerou opened #137 "Extensibility discussion"
Right now, jsep supports some basic extensibility, by allowing users to add new operators, and new literals through predefined functions on `jsep`.

While this can be quite powerful on its own, we've seen how many things that people want jsep to do, cannot be accomplished that way.

One quick way to make `jsep` more extensible would be to expose its data structures (`binary_ops`, `unary_ops`, `lit

[2021-04-04 08:48] EricSmekens commented on #137
First of all, I trust your vision on this. 😃

If we keep great examples of each hook-possibilty, that it will really open lots of possibilities for users that want jsep simplicity, but also extend/change behaviour a tiny bit. So I really like the idea.

[2021-04-04 19:11] LeaVerou commented on #137
Thank you for the trust, though some of these decisions are not about good vs bad choices, but they each have their own tradeoffs. We probably would need to expose at least some objects, hooks are a last resort for low level extensibility, it shouldn't the the *only* way authors can extend jsep.

[2021-04-11 18:29] 6utt3rfly commented on #137
Commenting here after Lea's [PR review](https://github.com/EricSmekens/jsep/pull/123#discussion_r611125258) (which was mostly based on PrismJS hooks).

Lea mentioned the possibility of automatic registration upon import. I don't think I've seen many examples of that, but I believe they tend to get pretty complicated and declarative in order to specify ordering, options, etc. But maybe there are go

[2021-04-14 15:21] #92 closed, assigned to nobody

[2021-07-26 17:50] LeaVerou opened #154 "Custom ternary operators"
This has come up many times in my use cases: Jsep allows custom unary and binary operators, but the ternary operator is implemented ad hoc. It would be nice if there was an analogous `addTernaryOp()` function that allowed custom ternary operators. Possibly via the ternary operator plugin?

[2021-07-26 18:25] 6utt3rfly commented on #154
If we pull out the ternary plugin by default, then different variations could be implemented by others, maybe? Perhaps the Jsep ternary plugin could provide options? What kind of use cases have you come across?

[2021-07-27 09:02] LeaVerou commented on #154
Not sure what you mean here exactly, could you elaborate? What I was saying is, right now the code for the ternary explicitly checks for `?` and `:`, I was saying it could use a data structure of operators that can be extended by jsep users. Obviously that would make the code a lot more complex however. But it is quite arbitrary that we allow this kind of extensibility for unary and binary operato

[2021-07-27 15:42] 6utt3rfly commented on #154
The plugin file could export a function that returns the plugin:
[code]

So the user could then use the plugin something like:
[code]

However, I can almost see 2 different plugins from your given examples, one that's like a ternary with no alternative (`where age > 2`), and one that's more like a cast (`as adultYears`), which I can see as both being straight-forward to add now with the various ho

[2021-07-27 17:40] LeaVerou commented on #154
(I'm going to use my use case as a meta-example here, but this applies to most ternary use cases, I think)

I was thinking of more along the lines of an `addTernaryOp()` function (and corresponding data structure) that the plugin exposes. Also, it looks like with your proposed code any operator can go with any alternative, which is not typically desirable. E.g. I may want to allow `x by y as z` an

[2021-08-02 10:07] Kot-Zakhar opened #156 "Strange behavior when parsing CallExpression arguments"
Hello! Thanks for such a great work!

Found a strange behavior when parsing CallExpression arguments. Don't know if it is intended but let's find out together.

So here is an example:
[code]

I expect two last examples to be either both 4 args, or 3 and 2 args respectively.
But it gives an error.

[2021-08-02 17:16] 6utt3rfly commented on #156
Thank you for reporting, @Kot-Zakhar !

It looks like the code was adding expressions to the argument, even if there wasn't a comma separator. However, it also has a check for a missing argument (`foo(,)` , `foo(,1,2)`, `foo(1,,2)` and `foo(1,2,)`) that was inadvertently catching some of your cases after it found a comma. I've created a fix for this that can hopefully make it into the next release

[2021-08-03 15:00] #156 closed, assigned to nobody

[2021-08-17 19:12] ammmze opened #160 "Working towards the 1.0.0 release!"
First want to say thanks for all the heavy lifting I've been seeing in the last few months on this project. I see there's a new plugin system coming in the 1.0.0 release. That looks really interesting. Where i'm currently using jsep, I am looking for that "object" plugin. I've got a couple of question...

1. Do you happen to have any idea when things will be stable enough for a new release?
2. Is

[2021-08-17 19:48] 6utt3rfly commented on #160
@EricSmekens - do you want to publish a release candidate? Or just release as is and publish fixes as needed? We've kept the core of jsep backward-compatible (although #100, which dropped the LogicalExpression type, may be a breaking change for some), so it should be painless to jump to 1.0.0. Maybe we'll just need plugin fixes on their own, if at all?

I'm nearly finished updating expression-eval

[2021-08-18 00:14] LeaVerou commented on #160
I think it would help to have some docs for those migrating too, though that shouldn't be a blocker.

[2021-08-18 03:34] 6utt3rfly commented on #160
Are you thinking of a separate file? Or just in the changelog?

[2021-08-18 11:30] LeaVerou commented on #160
Depends on how extensive the guidance is. We could start with just notes in the changelog.

[2021-08-18 17:57] EricSmekens commented on #160
I'll publish 1.0.0 later this week! (Need to find some time where I can walk through it all and prepare myself for it).

[2021-08-18 18:08] ammmze commented on #160
👍🏻  I appreciate everyones hard work on this project. It's awesome to see this project continue to get better! Let me know if there is anything I can help with.

[2021-08-22 19:37] EricSmekens commented on #160
Published a 1.0.0 of the main jsep package. Continued with publishing the packages manually as well, but encountered some permission errors.

Probably due to a @jsep scope is already existing due to this package:
https://www.npmjs.com/package/@jsep/popover

Shall we just come up with a alternative on this name, as in `@jsep-plugin/arrow` to make it scoped packages?
Or shall we skip the scoping and

[2021-08-22 20:49] 6utt3rfly commented on #160
ah too bad about not being able to use `@jsep` ... I think it would be better to scope if possible, so I like `@jsep-plugin/arrow`. Should be an easy find/replace?

[2021-08-24 18:29] EricSmekens opened #171 "Automation of publishing plugin-packages"
Currently, we have a Github action [npm-publish](https://github.com/EricSmekens/jsep/blob/master/.github/workflows/npm-publish.yml).
Would be great to create support for doing this as well for the plugin-packages.

[2021-08-24 18:30] EricSmekens commented on #154
I think this can be closed by the introducement of:
https://www.npmjs.com/package/@jsep-plugin/ternary

[2021-08-24 18:32] 6utt3rfly commented on #160
@EricSmekens - can the `package.json` file in the `dist/cjs` folder be included in the published package? Otherwise, I get this:

[code]

Actually - the error indicates that we could rename that build to be `jsep.cjs` instead of `jsep.cjs.js` as well?

(Edit: I can create a quick PR if you prefer the .cjs file name extension over the package.json file)

[2021-08-24 18:35] EricSmekens commented on #160
Ah yes, only tested the regular esm import. Great issue for 1.0.1 that we can release on short-term I think.
If including package.json will fix this, I think that would be the way to go?

[2021-08-24 18:39] 6utt3rfly commented on #160
Yeah the package.json in that folder (which sets the module type for cjs) fixes it, which is why it was there. I haven't seen the cjs extension much, but it sounds like that would work too

[2021-08-24 18:42] 6utt3rfly commented on #160
Agree that it's worth a quick 1.0.1 release for that

[2021-08-24 18:57] 6utt3rfly commented on #154
I think @LeaVerou 's question was to support non-standard ternary separators (`? :`).
However, I think the `x by y` could just be a BinaryExpression, same as `y as z`, rather than looking at it as a ternary... But to detect `x by y as z` and only allow `as` in certain cases, then I think that would have to be done by a plugin, perhaps on an `after-expression` event to validate the expression.

`pe

[2021-08-24 19:27] JiriTrecak commented on #160
Can confirm, this would be a great fix. Currently running into the same issue with the version bumped to 1.0.0. I managed to work around it with different configurations of node packager, but since I am using typescript, it fails to import the types even with fixes - which can't, unfortunately, be fixed any other way than with the improvements to the package.

In other news, good job. You rock, th

[2021-08-24 21:05] EricSmekens commented on #160
It's a bit odd, as I'm preparing a 1.0.1 release, but....

`npm pack` and `npm publish --dry-run` does include the dist/cjs/package.json we're talking about.
I might perhaps try publish a test-publish with a rc-1 version for 1.0.1, to see something is wrong about the config, or I just make a mistake during first publish... 😣

[2021-08-24 21:32] 6utt3rfly commented on #160
Yeah that does seem strange ... and I checked out the github action history and it was in there (although it couldn't publish for some reason?) 🤷🏻‍♀️ . The file made it into the published plugins, too

[2021-08-24 21:35] EricSmekens commented on #160
Yeah, I made the publishes first manually with npm6.
(Not realising npm7 has workspaces support, that's great, learning new stuff everyday ;)).

I've also tried this with 1.0.1-alpha and 1.0.1-beta, but I can't get it to work yet.

[2021-08-24 21:37] 6utt3rfly commented on #160
I just tried `npm install jsep@1.0.1-beta` and it looks like it's right
edit - same with 1.0.1-alpha

So both seem like they published OK... not sure why the 1.0.0 didn't though

[2021-08-24 22:06] EricSmekens commented on #160
https://github.com/EricSmekens/jsep/actions/workflows/npm-publish.yml

It looks like 1.0.1 fixes this issue by properly including the package.json.

If you could confirm this, that would be great 😀

[2021-08-24 22:06] 6utt3rfly commented on #160
Just tried 1.0.1 in a cjs project. Looks good! Thanks!

[2021-08-25 11:49] LeaVerou commented on #154
Correct.

I think you may be getting confused with the specific operators, which are merely examples. `person where x > 2` is not a ternary, that's a binary operation (`person where (x > 2)`). If you look at my comment that mentions it, it was not in the context of ternary operators.

`x by y as z` *is* a ternary, because `y as z` by itself should not be valid. Currently I'm indeed implementing th

[2021-08-25 13:06] JiriTrecak opened #173 "Logical Expression still defined in typings file"
👋🏻  hope you all have a great day! Considering the logical expression was removed in favor of binary op (which completely makes sense), it would be good to remove it from the typings file as well to avoid any potential confusion:

https://github.com/EricSmekens/jsep/blob/master/typings/tsd.d.ts#L51

&&

https://github.com/EricSmekens/jsep/blob/master/typings/tsd.d.ts#L85

Thanks!

[2021-08-25 17:47] ammmze commented on #160
I'm pulling this in now to try it out. And it looks like it is functionally there. But it looks like the type declarations didn't make it in the package leaving me with the `error TS7016: Could not find a declaration file for module 'jsep'.` error when trying to build my package.

[code]

They are also missing in the plugins.

[2021-08-26 05:20] 6utt3rfly commented on #171
What do you think about using a commit message to trigger publishes? I noticed this action:
https://github.com/marketplace/actions/publish-to-npm-monorepo

Otherwise, I think the existing action could be updated to add something like `cd ${{ github.action_path }}` before the `npm ci && npm run default && npm publish` (might need a [regex replace action](https://github.com/marketplace/actions/regex

[2021-08-26 06:03] 6utt3rfly commented on #154
I think something like this would do what you're asking? (it could be updated to be more efficient. But it deviates from esprima, too by adding the `operator` property to the node):

[code]

[2021-08-27 16:30] JiriTrecak commented on #160
@EricSmekens Just tried to download 1.0.2 to see whether the typing issue was resolved, but there is no deployed version 1.0.2 to NPM, it still shows as 1.0.1. I can see the package.json having the proper definition, however. It should  probably be 🚢 ed :)

[2021-08-27 17:00] ammmze commented on #160
@JiriTrecak I don't think its been published yet. They aren't setup to auto publish yet ([working on it though](https://github.com/EricSmekens/jsep/issues/171)). I believe @EricSmekens manually publishes when they are ready for a release.

[2021-08-27 17:04] ammmze commented on #171
Not sure if you are familiar with these already, but there's growing momentum for things like [conventional commits](https://www.conventionalcommits.org/) and [semantic-release](https://semantic-release.gitbook.io/). With the 2 of those, it makes it easy to automatically produce changelogs/release notes and what not.

[2021-08-27 17:47] 6utt3rfly commented on #171
@ammmze - would you be willing to submit a PR to help with the build process? I've been reading on similar documentation to what you provided, but I haven't yet implemented it in anything. Does the semantic-release update the version in package.json? How does it work within a monorepo?

[2021-08-27 17:48] 6utt3rfly commented on #160
I think @EricSmekens gave me permission to publish the plugin packages, but I'm still new to this project and prefer to defer to @EricSmekens for the release process. There's a github action for the main jsep release, but as @ammmze mentioned, nothing's been set up for the plugins yet.

[2021-08-27 18:09] ammmze commented on #171
Yea...I'll have to experiment a little, I'm still learning the ins and outs of it. I have no experience with it in a monorepo. It looks like it's more designed for a 1:1 relationship. Though it looks like there is a [library](https://www.npmjs.com/package/semantic-release-monorepo) out there to help with it. The common practice would be to have the main/master branch be the release branch, so any

[2021-08-27 21:30] EricSmekens commented on #171
`https://github.com/marketplace/actions/publish-to-npm-monorepo` will force the version of each package to the same version on each release.

So looking for a library or tool that supports this might be a good solution. Looked into it, but don't have the time for that now, so all PR's are welcome.

[2021-08-27 21:30] EricSmekens commented on #160
These fixes should now be published. (For now manually).

[2021-08-27 22:32] 6utt3rfly commented on #173
Fixed in 1.0.2. Thanks for reporting 😄

[2021-08-27 22:32] #173 closed, assigned to nobody

[2021-08-27 22:38] 6utt3rfly commented on #50
Closed and released in 1.0.0 from #164

[2021-08-27 22:38] #50 closed, assigned to nobody

[2021-08-27 22:39] 6utt3rfly commented on #130
@LeaVerou - I think we can close this with the 1.0.0 release now?

[2021-08-27 23:31] #130 closed, assigned to LeaVerou

[2021-08-30 16:56] ryanb opened #178 "Uncaught TypeError: "length" is read-only in Firefox"
I'm getting this error in Firefox v90.0.2 using jsep version 1.0.2. I didn't notice it in prior 1.0 releases.

[code]

Try opening this Codepen in Firefox to see the issue.

[Codepen Example](https://codepen.io/rbates/pen/rNwxmaJ)

[2021-08-30 18:34] 6utt3rfly commented on #178
Thank you for reporting, @ryanb . The code copies static methods from the ES6 class to the exported method option so it can be used either way, but it looks like it was dependent on key ordering. I've submitted a PR to make it more platform-agnostic.

[2021-08-31 07:26] 6utt3rfly commented on #171
@ammmze - are you familiar with how to enforce commit messages to be in the required format? I've seen a few github actions (not many seem to handle multiple commits in a PR), and some client-side git hooks (even a sym link to `.git/hooks/` since git won't pull the `.git/hooks` folder if it were committed). Or is it purely just dev diligence and rebasing/amending and force-pushing when needed?

[2021-08-31 13:54] ammmze commented on #171
@6utt3rfly Sorry, I haven't had a chance to work on this yet.

I've only implemented it once before in [this](https://github.com/MashupMill/sync-pom-version-to-package) project I don't use anymore, but I know there are some people still using it. It's using [commitlint](https://commitlint.js.org/#/) to lint the commits and it uses [husky](https://typicode.github.io/husky/#/) to manage client side

[2021-09-01 04:15] 6utt3rfly commented on #171
Thanks @ammmze - it helped for PR #177!

[2021-09-02 21:14] #171 closed, assigned to nobody

[2021-09-02 21:15] #178 closed, assigned to nobody

[2021-09-07 19:09] ammmze commented on #160
I'm gonna close this issue. I think we are all good for now. Thank you everyone!

[2021-09-07 19:09] #160 closed, assigned to nobody

[2021-09-21 11:28] cattermo opened #182 "Support for IE11"
From version 1.0 this library breaks in IE11. Would it be possible to configure the build of the dist files so that IE11 is supported? Sorry to say, but we still have some major customers using IE11.

[2021-09-22 11:42] LeaVerou commented on #182
Hi @cattermo,

You can continue using the old version. Do you need the functionality in 1.0?

[2021-09-22 11:48] cattermo commented on #182
Sure, that's what we ended up doing. Would be nice to have a note about this in Readme, the `0.4.0` is working in IE11.

[2021-09-23 06:44] 6utt3rfly commented on #182
@LeaVerou - should we add another target in the rollup config, using babel and polyfills to support IE 11?

[2021-09-23 14:12] untersalmberger opened #183 "Nested ternary operator does not work when object plugin is used"
When the `object` plugin is registered, a nested ternary operator no longer works. jsep throws an exception that it expects a `:` at some position.

That's what works without the `object` plugin, but not with the `object` plugin:

[code]

Other plugins like the `comment` plugin do not harm.

Looks like an "unresolved technical issue" :)

[2021-09-24 17:06] 6utt3rfly commented on #183
Thanks for reporting @untersalmberger . I can see the issue and will try to fix it sometime this weekend :)

[2021-09-24 17:16] untersalmberger commented on #183
You guys are amazing! I love your work!

[2021-09-25 06:54] 6utt3rfly commented on #49
Implemented with #147 and the 1.0.0 release

[2021-09-25 06:54] #49 closed, assigned to nobody

[2021-09-25 06:56] #39 closed, assigned to nobody

[2021-09-25 06:59] 6utt3rfly commented on #30
Added in #148 and the plugin system in v1.0.0

[2021-09-25 06:59] #30 closed, assigned to nobody

[2021-09-25 07:02] 6utt3rfly commented on #96
Okay to close this @EricSmekens ? All were fixed in #162 and #164, except for `()` which is debatable how it should behave?

[2021-09-25 07:11] 6utt3rfly commented on #56
Fixed in #110

[2021-09-25 07:11] #56 closed, assigned to nobody

[2021-09-25 07:14] 6utt3rfly commented on #121
Fixed in #149 in the v1.0.0 release of the comment plugin. That plugin ignores `//` and `/* ... */`, but not `#`. However, that could be added by using the hooks, similar to how the [plugin does it](https://github.com/EricSmekens/jsep/blob/master/packages/comment/src/index.js))

[2021-09-25 07:14] #121 closed, assigned to nobody

[2021-09-27 08:05] #96 closed, assigned to nobody

[2021-09-29 19:56] grimalschi commented on #183
Thank you for fixing this!

[2021-10-03 20:00] #183 closed, assigned to nobody

[2021-10-03 20:42] 6utt3rfly commented on #183
(also jsep@v1.1.0, since that includes the ternary plugin by default)

[2021-10-04 10:45] grimalschi opened #186 "MemberExpression over ObjectExpression ({ x: 1 }.x) should throw"
Hello! This is JavaScript behaviour in browser when I run `{ x: 1 }.x`:
`SyntaxError: Unexpected token '.'`

But jsep allows this kind of expressions. Is it bug or feature?

[2021-10-04 15:23] 6utt3rfly commented on #186
@grimalschi - are you using the latest version of @jsep-plugin/object? [v1.1.0](https://github.com/EricSmekens/jsep/releases/tag/%40jsep-plugin%2Fobject-v1.1.0) was just released, which added member expression support.

I did a quick test:
[code]

[2021-10-04 17:36] grimalschi commented on #186
Exactly. It gives me an AST, but correct behaviour in this case is to throw.
This is what browser does if you write `{ x: 1 }.x` in console.

It works in jsep, but gives and error in browser :)

[2021-10-04 17:40] grimalschi commented on #186
{x: 1}['x'] - should work
{x: 1}.x - should throw an Error

This is specific case when you make MemberExpression with `computed: false` over ObjectExpression

[2021-10-04 18:26] 6utt3rfly commented on #186
I wonder if this is purely a browser console issue? Because they are both valid expressions in javascript and in node.
[code]

similarly, typing into the debug console: `const a = { x: 1 }; console.log(a.x);` works. Just as typing just "a" into the console will display the value of a, but would be invalid javascript within a script.

[2021-10-04 19:50] grimalschi commented on #186
Looks like I was wrong, sorry

[2021-10-04 19:50] #186 closed, assigned to nobody

[2021-10-04 20:09] 6utt3rfly commented on #186
All good :-)

[2021-10-12 15:09] zcappp opened #189 "Precedence conflict between assignment and object plugins"
among those new plugins I thirst for object plugin most, thank you to make it possible!
when I register both assignment and object plugins, it make combination of assignment and ternary error out. such as
`a ? log(a) : a = 1`
we expect to compute test `a` first and then the assignment later on:
[code]
but in fact it will throw out error:
[code]
but if I group the assignment with parentheses：
`a ?

[2021-10-18 00:32] zcappp commented on #189
@6utt3rfly  Thank you for the quick fixing!
as the ternary plugin is built-in by default, I upgraded jsep core and assignment plugin to latest, ignoring ternary, it seems error still there. can you check if latest ternary is included in jsep core package?

by the way, when excecuting "yarn upgrade", there are warnings:
`Workspaces can only be enabled in private projects`
I guess it was caused by w

[2021-10-18 06:33] 6utt3rfly opened #195 "Discussion: left/right-associativity"
jsep's [gobbleBinaryExpression](https://github.com/EricSmekens/jsep/blob/fa678503bc79584043d9152b31776df0e682a654/src/jsep.js#L415) method will stack all binary expressions using left-associativity (left-to-right) using a recursive decent algorithm. This becomes meaningful only when an expression does not use parentheses, like `a ? b : c` or `a + b * c` or `a ** b ** c`.

However, there are severa

[2021-10-18 06:36] 6utt3rfly commented on #189
@zclc - it looks like there are still a couple issues remaining, sorry. I've added issue #195  to figure out how we want to deal with left/right-associativity, which is ultimately the root cause of this issue. In the meantime, parentheses will help you work around the issue until we can implement a more complete solution.

Also, thanks for the note on the `workspaces` warning too - that shouldn't

[2021-10-18 06:56] zcappp commented on #195
I recalled that this ternary case described in [#189](https://github.com/EricSmekens/jsep/issues/189)  was working fine before plugins system was introduced (with simple `jsep.addBinaryOp("=", 0)`).
see if moving ternary back to jsep core can help.

[2021-10-31 22:17] #195 closed, assigned to nobody

[2021-11-09 22:34] 6utt3rfly commented on #189
@zclc - would you like to try manually testing the PR to see if it resolves your issues?

[2021-11-10 01:12] zcappp commented on #189
@6utt3rfly I just reinstalled latest jsep and its plugins, the issue is still there.
I am wondering if the latest packages are really built from latest source code. I saw there is v1.2.0 release, but the version on package.json is still on 1.0.2.
below are all the lastest versions I got:

    "@jsep-plugin/assignment": "^1.0.1",
    "@jsep-plugin/comment": "^1.0.1",
    "@jsep-plugin/new": "^1.0.1

[2021-11-10 01:45] 6utt3rfly commented on #189
@zclc  We haven't built a new release with PR #199 (still in review). Are you able to manually use the source from that PR to try?

[2021-11-10 03:14] zcappp commented on #189
I tried, but I didn't get to know how to pull PR yet.
by the way I also failed to build jsep locally.
currenly I am using acorn instead to parse my expression, but I still like the lightweight of jsep.

[2021-11-26 09:07] 6utt3rfly opened #200 "Invalid types definition"
From @pchaneyo 's comment on a [previous commit](https://github.com/EricSmekens/jsep/commit/e2f758ea1a23675942e411d25629f01b6d45d867#commitcomment-60903176)

[code]

[2021-12-13 17:26] 6utt3rfly commented on #189
FYI @zclc - you can now use `jsep@1.3.0-beta.1`, `@jsep-plugin/assignment@1.2.0-beta.1`, and `@jsep-plugin/object@1.2.0-beta.1` (pre-release versions)

[2021-12-22 15:47] trenttobler opened #204 "arrow notation parse failure"
Context / versions:

    "@jsep-plugin/arrow": "^1.0.1",
    "@jsep-plugin/assignment": "^1.1.0",
    "@jsep-plugin/comment": "^1.0.2",
    "@jsep-plugin/object": "^1.1.0",
    "@jsep-plugin/regex": "^1.0.1",
    "@jsep-plugin/ternary": "^1.0.2",
    "jsep": "^1.2.0"

Code sample:
[code]

Thrown error:
[code]

This same expression works in javascript:

[code]

This package and plugin system has be

[2021-12-22 21:55] trenttobler commented on #204
There also appears to be a weird parsing discrepancy (possibly related) with these two expressions (same context as above):
[code]

I'm not exactly sure why SequenceExpression type is included in the first expression, but not the second, as I think they should be in a similar context (the body of the lambda, vs. starting the expression).

[2021-12-23 20:16] 6utt3rfly commented on #204
Thank you for the test case @trenttobler and I can reproduce the error when assigning an arrow function. I'll try to take a look sometime over the next week. 🙂

[2022-01-18 10:13] cimak opened #206 ""Variable names cannot start with a number (...) at character ..." for hex, bin or numeric separators"
Well, #17 doesn't work anymore:
[code]

[2022-01-20 09:31] 6utt3rfly commented on #206
Thanks for pointing that out, @cimak . You could update your patch, but this type of change seems better suited to a plugin, so I took a stab at creating one (#207) to support additional number formats and the `_` character.

[2022-01-27 17:17] #206 closed, assigned to nobody

[2022-01-30 16:52] avemeva commented on #100
Maybe it is reasonable to also update the website with the new version since it still shows the LogicalExpression.

[2022-01-31 02:15] 6utt3rfly commented on #100
Hi @andrewshvv . Can you point out where you see `LogicalExpression` still being used? I don't see it in the made readme or anywhere else right now?
https://github.com/EricSmekens/jsep/search?q=LogicalExpression&type=code

[2022-01-31 08:28] EricSmekens commented on #100
Indeed, odd.
Website seems to be outdated anyway.
I will take this on for my agenda, to check what's going on and streamline it. ^^

[2022-01-31 19:15] avemeva commented on #100
@6utt3rfly https://ericsmekens.github.io/jsep/

[2022-01-31 20:04] EricSmekens commented on #100
Indeed. This is currently live by using `GitHub Pages` which is currently linked at the [gh-pages](https://github.com/EricSmekens/jsep/tree/gh-pages) branch.

I think this should be mostly revised. It is very out dated, and updating it now by hand, seems like a task gone to waste.
I'll see what I can do to gather some time for this, but it is open for anyone to pick it up until I've found some tim

[2022-02-01 19:59] SimoTod opened #210 "Objects on left side of assignment don't throw"
For example`{a: 'b'} = c`
The same expression throws in the browser console and with Esprima.

[2022-02-07 18:08] cmarcao opened #211 "Multiple instances of jsep with different operators"
Hi guys.

There is any reason to have a singleton parser? There is no chance to have more than one jsep with different configuration running in the same app at client side?

Thank you,

Carlos Marcão

[2022-02-28 02:11] 6utt3rfly commented on #211
@EricSmekens and @LeaVerou - any thoughts on this? I know when we first started moving into a plugin system, this was [discussed](https://github.com/EricSmekens/jsep/pull/140#issuecomment-826880734), but then dropped to reduce complexity/scope. I feel like this could be useful in some cases and could be re-done similar to what [this commit](https://github.com/EricSmekens/jsep/pull/140/commits/2a2c

[2022-02-28 05:42] #189 closed, assigned to nobody

[2022-02-28 05:42] #200 closed, assigned to 6utt3rfly

[2022-02-28 05:42] #204 closed, assigned to nobody

[2022-02-28 15:50] LeaVerou commented on #211
Any proposal for additional complexity should be justified through use cases. What are the use cases for having multiple parsers with different configurations and how common are they?

[2022-03-03 08:31] mcdamo opened #214 "Regex plugin does not parse slashes"
The regex plugin does not appear to support slashes within the regex, even if they are escaped.

Some simple regex strings that should parse:
[code]
These presently throw exception `Invalid regular expression:`

The plugin halts at the [first character match](https://github.com/EricSmekens/jsep/blob/308fcc198bf1d90c58818e1471fe91cb65563273/packages/regex/src/index.js#L12-L13) of `/`, ignoring esca

[2022-03-04 01:54] 6utt3rfly commented on #214
Thanks for reporting @mcdamo ! Looks like that was definitely an oversight on initial implementation, so I've created a PR to fix it, using your examples plus a few more edge cases.

[2022-03-04 10:00] mcdamo commented on #214
Thanks @6utt3rfly for the quick response. That looks like an elegant solution.

[2022-03-21 14:35] adicrl opened #216 "Jsep.version returns "1.0.2" instead of 1.2.0 or 1.3.0"
The package version does not match the distributed files.

**On GitHub:**
`package.json` declares the version "1.0.2":
[code]

`src/json.js` mentions that the version will get replaced to the correct value:
[code]

**In the distribution package of 1.3.0:**
`package/package.json` declares the version "1.3.0":
[code]

**Actual:**
`dist/json.js` is hardcoded to "1.0.2":
[code]

**Expected:**
`dist/js

[2022-03-22 18:15] #216 closed, assigned to nobody

[2022-03-22 18:28] 6utt3rfly commented on #216
@adicrl - thank you for reporting! I've published 1.3.4 which now has the correct version in the bundled package.json and embedded into jsep. I had to swap the build steps to commit to git after npm, and I had to incorporate the build into semantic-release to embed the version.

(NOTE: I accidentally made some commits that I thought were going to my fork but weren't 😬 Sorry about that!)

[2022-03-22 18:29] #214 closed, assigned to nobody

[2022-03-23 09:53] adicrl commented on #216
Wow, I merely pressed the submit button the other day and you already released a new build! 🏆🏆🏆

[2022-04-07 16:29] rathpc opened #218 "warning Workspaces can only be enabled in private projects"
I stumbled on this issue due to using another package that has `jsep` as a deeply nested dependency.

When running any yarn command (install, build etc.) many warnings are spit out that say the following:

[code]

This is due to `jsep` having `"private": false` in the **package.json** file in conjunction with setting the `"workspaces"` key.

This may only be an issue when using yarn but worth ment

[2022-04-07 19:34] 6utt3rfly commented on #218
Thanks for reporting @rathpc ! I'm seeing conflicting opinions on what to do about it... [some think yarn](https://github.com/yarnpkg/yarn/issues/8580) should be updated, but I see that [react-redux](https://github.com/reduxjs/react-redux/issues/1815) removed workspaces from their package.json file.

jsep is built with pnpm which has a separate `pnpm-workspace.yaml` so the `workspaces` in package.

[2022-04-11 16:57] #218 closed, assigned to nobody

[2022-04-16 03:08] vishwajeet-pandey-exa opened #221 "Support continuous expressions"
Right now when an expression like ` 2 + 3 + 4 + 5` is passed to the parse function, it's broken down into 'Binary expressions' & the tree generated is binary one & looks like what it'd be for `(2 + 3) + (4 + 5)`:
[code]
I know these are equivalent, but just to avoid extra parentheses when we try to rebuild the expression from the tree or when we try to show these in a tree form a bit better, could

[2022-04-16 16:12] LeaVerou commented on #221
We can't do this by default, because our output needs to be compatible with other parsers, but it could easily be an optional plugin. It doesn't even need to modify the parser, it can just be an AST transformation (that's how we do it in Mavo that uses JSEP and also needs this).

[2022-04-18 18:48] jnavb opened #223 "How to walk/visit the ast"
First of all thank you for this package, I've been using it for the last year and is awesome.

My use case is extracting all the `Identifier` tokens of an expression in order to build a dependency graph.

I'm making a custom hook for that but I don't know if such feature is feasible with the current hooks. Tried `after-expression `, `gobble-token` and `after-token` with no luck:

[code]

I found a

[2022-04-18 23:14] jnavb commented on #223
After reviewing the codebase, If I'm not mistaken I think this could not be done with the current state of the package.

A new `gobble-identifier` hook could do the job, would you be open to merge the PR with such changes?

[2022-04-19 06:17] 6utt3rfly commented on #223
@jnavb - we originally had more hooks, but we scaled them back to avoid impacting performance too much and since all of the current plugins were able to work with what's there now. There could feasibly be `after-literal`, `after-identifier`, `after-member`, `after-args`, `after-group`, `after-array`, (and maybe some `before` hooks there too), but at the time there didn't seem to be a need for so m

[2022-04-19 09:15] jnavb commented on #223
@6utt3rfly - that's exactly what I wanted, ideally I would want the next response:

[code]

I can see your solution is working but that would make a complete traverse again, actually is there any difference doing that outside the parser?

[code]

In order to do the work while the parsing is running I only see as solution adding the new hook `after-identifier`. I would like to avoid forking the pro

[2022-04-19 16:38] 6utt3rfly commented on #223
@jnavb - you're right that you could traverse the tree without the hook by simply using the ast result. Traversing the tree is much faster than parsing the string (which is why ASTs are used), and would probably be faster than adding more hooks, if that is your concern. There are also packages for traversing, like [estree-walker](https://github.com/Rich-Harris/estree-walker).

[2022-04-19 16:45] LeaVerou commented on #223
Yeah, a tree walker shouldn't need extra hooks, since it should operate on the AST result. We *could* provide a plugin with a tree walker that provides hooks as well, so that plugins can modify it in case they modify something that would affect how walking is done. Similarly, a customizable serializer plugin might also be useful. I'd say both should be relatively low priority, since they are prett

[2022-04-19 17:00] jnavb commented on #223
@6utt3rfly @LeaVerou - agree this should not be a priority (at least from a user perspective). I would definitely try that package or build my own walker.

I still think that for my use case it would be much faster having a new identifier hook and deleting the calls to the rest of them than traversing the tree again but maybe the improvement gain is trivial (For context, I make the parsing of 20~2

[2022-04-19 17:00] #223 closed, assigned to nobody

[2022-05-03 02:21] grimalschi commented on #156
This problem is still valid for simple cases like `foo(1 2)`, `[1 2]`, `{x: 1 y: 2}` - all of them does not throw.

[2022-05-03 02:22] grimalschi commented on #156
Should we reopen this issue or it is better to create new one?

[2022-05-03 07:07] grimalschi commented on #156
@6utt3rfly sorry, I have found in commits that it is intentional feature, not bug (at least for function and arrays).
For object still looks like bug because it can take expressions like this: `{x: 1, y: 2 z: 3}`

[2022-05-05 16:14] 6utt3rfly commented on #156
@grimalschi - it took a bit to re-read some of the history on this ... I wonder if we should open a new feature request to specify allowable separators maybe? It could default to both space an comma to maintain backward compatibility, but could be configured to be more strict if needed?

[2022-05-05 18:45] grimalschi commented on #156
@6utt3rfly sounds very good. By the way I want to thank you and other contributors for developing and maintaining this library. I have forked it to build my own parser (heavily based on jsep) for parsing formula expression in my project.

[2022-06-02 23:29] mateusmoury opened #226 "Using and/or wrapped in parenthesis is not working"
Hi!

Trying to build a very simple expression in the Demo section of https://ericsmekens.github.io/jsep/, but it throws an error, as if I'm missing a closing `)`:

<img width="897" alt="Screen Shot 2022-06-02 at 20 26 19" src="https://user-images.githubusercontent.com/5231647/171754389-6095d2e1-493e-4ce4-95c3-eeb2db193cbc.png">

Is this expected? I was planning to use jsep to build expressions lik

[2022-06-03 01:46] 6utt3rfly commented on #226
@mateusmoury - you just have to add `and` (and `or`) as custom binary operators. The [source code](https://github.com/EricSmekens/jsep/blob/1c3874e1cf42fa6553095fed94913f695952a553/src/jsep.js#L934) shows the default operators (in your example, `&&`)

[2022-06-07 02:45] #226 closed, assigned to nobody

[2022-06-28 07:14] munderk opened #228 "Support for "IN" clause/operator type expression"
We have requirement wherein we need to parse and validate "IN" clause expressions. e.g, `"Country IN ('Germany', 'France', 'UK')"`

I add the "IN" operator using `jsep.addBinaryOp("IN")` and then I try to parse the expression and build tree.

But whenever I try such expression for parsing, e.g, `jsep("Country IN ('Germany', 'France', 'UK')")`, it throws error.

Can anyone please help me with parsi

[2022-07-06 01:31] 6utt3rfly commented on #228
@munderk - you can add `IN` support, but dealing with a list within parentheses (versus square brackets), makes it look like a function call to JSEP. Can you use `[]` syntax instead of `()`?

Otherwise, you could maybe create a custom plugin (probably on the `gobble-token` event) to look for `IN` and then utilize jsep's `gobbleArguments` method?

[2022-07-14 16:49] munderk commented on #228
@6utt3rfly Thanks for the reply. The use case is working fine in the newer version. No need to use the custom plugins.

[2022-07-14 16:49] #228 closed, assigned to nobody

[2022-07-29 20:39] joeflateau commented on #211
@LeaVerou I would like to use jsep in a library with a custom binary operator but I cannot because of the singleton nature of it might lead to transient, hard to locate bugs

[2022-08-17 05:31] peterhalicky opened #231 "unable to use any plugins with Typescript"
It is not possible to use any of the provided plugins with Typescript (well - I've tried two). The following code:
[code]
Produces errors by tsc:
[code]

The only way I found to work around this is to use `jsep.plugins.register(comment as unknown as IPlugin)`, although that seems to be a bit ugly.

When I modified the plugin's tsd.d.ts and changed the first line `import * as jsep from 'jsep';` to

[2022-08-17 16:09] Sapentine commented on #73
Minor enhancement to stringifyAst for MemberExpression.
[code]

[2022-08-22 05:37] 6utt3rfly commented on #231
@peterhalicky - the `import jsep from 'jsep'` (vs `import * as jsep from 'jsep'`) would require the `esModuleInterop` typescript option enabled... which might not be so bad since the readme indicates examples of that form.

Alternately, I tried this and it seems to work:, and it might have less impact to existing users
[code]

Any thoughts on something like this?

[2022-08-22 07:51] peterhalicky commented on #231
I'm no expert on TS, but if I understand this correctly, you redeclare the type of the export to be `IPlugin`, essentially doing more of what I did as a workaround (`xyz as unknown as IPlugin`), right? Either way, I do not feel competent to judge if this is the right solution - but if it works, it's good enough for me.
(Note: I do have the `esModuleInterop` option enabled)

[2022-09-18 16:58] #231 closed, assigned to nobody